nav{
    width: 100%;
   
    color: #fff;
    /* padding:6px; */
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}
.logo{
    width:9rem
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: .5rem 1rem;
    font-size: 1rem;
}
   
.dark-nav{
    background-color: #212EA0;
}
.menu-icon{
    display:none;
}

/*--------------- Media Query----------- */
@media (max-width:1000px){
    .logo{
        width:8rem
    }
    nav ul li{
        margin: .3rem .8rem;
    }
}
@media (max-width:855px){
    nav{
        padding:15px 0;
    }
    nav ul{
        position: fixed;
        top:0;
        right:0px;
        bottom: 0;
        width: 200px;
        background-color: #212EA0;
        z-index: -1;
        padding-top:70px;
        padding-left: 10px;
        transition: 0.5s;
    }
    nav ul li{
        display: block;
        margin: 29px 30px;
       
    }
    .menu-icon{
        display: block;
        width:30px
    }
    .hide-mobile-menu{
        right:-200px;
    }
}
